{% extends 'layout.html.twig' %}

{% block title %}
    Ajout d'un patient
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
    <style>
        .slide {
            min-height: auto;
            position: relative;
            padding: 0;
        }
    </style>
{% endblock %}

{# {% form_theme form _self %} #}

{% form_theme form 'form-theme.html.twig' %}

{% block page_content %}
    <div class="container-fluid">

        <div class="title-wrapper">
            Ajouter un patient
        </div>

        <div class="container-form">

            <section class="slide">
                <h1>Données générales</h1>

                {{ form_start(form, {'attr': {'class': 'form validate-form', 'autocomplete' : 'off'} }) }}
                {{ form_errors(form) }}

                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.nom, {'attr': {'autofocus' : true, 'class': 'input', 'autocomplete' : 'off'} }) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.prenom, {'attr': {'class': 'input', 'autocomplete' : 'off'} }) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.sexe, {'attr': {'class': 'input radio-row', 'autocomplete' : 'off'} }) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.dateNaissance, {'attr': {'class': 'input js-datepicker', 'autocomplete' : 'off'} }) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.age, {'attr': {'class': 'input', 'autocomplete' : 'off'} }) }}
                    </div>
                </div>

                <div class="container-form-btn">
                    {{ form_widget(form.add, {'attr': {'class': 'form-btn'} }) }}
                </div>

                {{ form_row(form._token) }}
                {{ form_end(form, {'render_rest' : false}) }}
            </section>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('li:eq(2)').addClass('active');

        $('ul li').on('click', function () {
            $('li').removeClass('active');
            $(this).addClass('active');
        });


        function getAge(dateString) {
            var today = new Date();
            let dateArray = dateString.split('/');
            var date = new Date(dateArray[2], dateArray[1], dateArray[0]);
            var age = today.getFullYear() - date.getFullYear();
            var m = today.getMonth() - date.getMonth();
            if (isNaN(age))
                return -1;
            if (m < 0 || (m === 0 && today.getDate() < date.getDate())) 
                age--;
            return age;
        }
        $('#patient_dateNaissance').on('change', function() {
            $('#patient_age').val(getAge($(this).val()));
        })
        jQuery(document).ready(function () {
            $('.js-datepicker').datepicker({
                language: 'fr',
                clearButton: true,
                onSelect: function (formattedDate, date, inst) {
                    $('#patient_age').val(getAge(formattedDate));
                }
            });
        });
    </script>
{% endblock %}
