{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
    <div class="container-login">
        <div class="wrap-login">

            {{ form_start(form, {'attr': {'class': 'login-form validate-form', 'autocomplete' : 'off'} }) }}
            {{ form_errors(form) }}

            {% if errors %}
                <ul class="alert alert-danger">
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <span class="login-form-title">
                Inscription
            </span>

            <div class="wrap-input validate-input">
                {{ form_widget(form.email, {'attr': {'autofocus' : true, 'class': 'input', 'autocomplete' : 'email'} }) }}
                <span class="focus-input"></span>
            </div>

            <div class="wrap-input validate-input">
                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'input', 'autocomplete' : 'new-password'} }) }}
                <span class="focus-input"></span>
            </div>

            <div class="wrap-input validate-input">
                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'input', 'autocomplete' : 'confirm-password'} }) }}
                <span class="focus-input"></span>
            </div>

            <div class="container-login-form-btn">
                {{ form_widget(form.save, {'attr': {'class': 'login-form-btn'} }) }}
            </div>

            <div class="txt-register">
                <a class="txt1" href="{{ url('login') }}">
                    Connexion
                </a>
            </div>

            {{ form_row(form._token) }}
            {{ form_end(form, {'render_rest' : false}) }}

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/trianglify.min.js') }}"></script>

    <script>
        $('body').css({'overflow': 'hidden'});

        var pattern = Trianglify({
            height: window.innerHeight,
            width: window.innerWidth,
            x_colors: [
                '#E40C2B', '#438945', '#F7F4E9'
            ],
            y_colors: [
                '#1D1D2C', '#3CBCC3', '#F7F4E9'
            ],
            // cell_size: Math.ceil(window.innerWidth / 8)
        })
        var svg = pattern.svg()
        svg.id = 'trianglify-overlay'
        document.body.appendChild(svg)
    </script>
{% endblock %}
